<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--
HTML code would be added to the below div tag
which would be taken as an input from the user.
-->
<center>
    <div >
        <img width="55" height="55" data-bit="iit" src="cid:logo">
        <h1 style="padding: 5px; line-height: 18px;" class="text-2xl font-bold">EventMaster</h1>
        <p style="padding: 5px; ">
            You have been approved from admin. <br />
            Now you can login to use application
        </p>
<!--        <a href="">Click here</a>-->
    </div>
</center>
</body>
</html>
